absl-py==2.1.0
aiobotocore @ file:///C:/b/abs_431uzunk2v/croot/aiobotocore_1738237882529/work
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal==1.4.0
alabaster @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/alabaster_1729041938345/work
altair==6.0.0
anaconda-anon-usage @ file:///C:/b/abs_1az9wuczyu/croot/anaconda-anon-usage_1749054795139/work
anaconda-auth @ file:///C:/b/abs_66s84uss7v/croot/anaconda-cloud-auth-split_1747863792543/work
anaconda-catalogs @ file:///C:/b/abs_ac59ma63va/croot/anaconda-catalogs_1747774731997/work
anaconda-cli-base @ file:///C:/b/abs_e4_l2p3q_7/croot/anaconda-cli-base_1741369468349/work
anaconda-client @ file:///C:/b/abs_0aa49y56xo/croot/anaconda-client_1743199592646/work
anaconda-navigator @ file:///C:/b/abs_5co9rfxmmi/croot/anaconda-navigator_1749741927270/work
anaconda-project @ file:///C:/b/abs_c3nd60wjs2/croot/anaconda-project_1746215311215/work
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.9.0
appdirs==1.4.4
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid @ file:///C:/Users/dev-admin/buildout/croot/astroid_1739560229763/work
astropy @ file:///C:/b/abs_a6ryor8rkd/croot/astropy_1738094426721/work
astropy-iers-data @ file:///C:/b/abs_fact33de2d/croot/astropy-iers-data_1737137602781/work
asttokens==3.0.0
async-lru==2.0.5
asyncssh @ file:///C:/Users/dev-admin/buildout/croot/asyncssh_1739562824778/work
atomicwrites==1.4.0
attrs==25.3.0
Automat @ file:///C:/b/abs_e6j20ekmp5/croot/automat_1743532580167/work
autopep8 @ file:///croot/autopep8_1708962882016/work
babel==2.17.0
bcrypt @ file:///C:/b/abs_b3ok3jhxrx/croot/bcrypt_1747402791004/work
beautifulsoup4==4.13.3
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///C:/Users/dev-admin/buildout/croot/black_1739566841210/work
bleach==6.2.0
blinker==1.9.0
bokeh @ file:///C:/b/abs_f6bf75elu5/croot/bokeh_1737999174485/work
boltons @ file:///C:/b/abs_45_52ughkz/croot/boltons_1737061711836/work
botocore @ file:///C:/b/abs_1ctc2plazh/croot/botocore_1738226903582/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
cachetools==6.2.2
certifi==2024.12.14
cffi==1.17.1
chardet @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/chardet_1729058437735/work
charset-normalizer==3.4.1
click==8.2.1
cloudpickle @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/cloudpickle_1729043776794/work
colorama==0.4.6
colorcet @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorcet_1729053366498/work
comm==0.2.2
comtypes==1.4.9
conda @ file:///C:/b/abs_78fae1xfc9/croot/conda_1749171262913/work/conda-src
conda-anaconda-telemetry @ file:///C:/b/abs_8fisg12wdf/croot/conda-anaconda-telemetry_1744662558247/work
conda-anaconda-tos @ file:///C:/b/abs_481v9q3ep5/croot/conda-anaconda-tos_1748537209861/work
conda-build @ file:///C:/b/abs_0cmukil0y7/croot/conda-build_1748438551883/work
conda-content-trust @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/conda-content-trust_1729088072778/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-pack @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/conda-pack_1729058654267/work
conda-package-handling @ file:///C:/b/abs_7fz3aferfv/croot/conda-package-handling_1731369038903/work
conda-repo-cli @ file:///C:/b/abs_89z5qypx6v/croot/conda-repo-cli_1742233951811/work
conda-token @ file:///croot/conda-token_1741722942912/work
conda_index @ file:///C:/b/abs_35iguetbq8/croot/conda-index_1747936869808/work
conda_package_streaming @ file:///C:/b/abs_bdz9vbvbh2/croot/conda-package-streaming_1731366449946/work
constantly @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/constantly_1729053406505/work
contourpy==1.3.1
cookiecutter @ file:///opt/conda/conda-bld/cookiecutter_1649151442564/work
cryptography @ file:///C:/b/abs_ae5lrkywtg/croot/cryptography_1740577842775/work
cssselect @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/cssselect_1729047831562/work
cycler==0.12.1
cytoolz @ file:///C:/b/abs_9fo7kaynab/croot/cytoolz_1736803775290/work
dask @ file:///C:/b/abs_b819ma5s3z/croot/dask-core_1741970207786/work
dask-expr @ file:///C:/b/abs_a3l2uwpvbn/croot/dask-expr_1742226151168/work
dataclasses-json==0.6.7
datashader @ file:///C:/b/abs_7fi1hwtnu7/croot/datashader_1744385576590/work
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/deprecated_1729047945568/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill==0.3.9
distributed @ file:///C:/b/abs_42ljkiheum/croot/distributed_1741988119116/work
distro==1.9.0
docstring-to-markdown @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/docstring-to-markdown_1729053922477/work
docstring_parser==0.17.0
docutils @ file:///C:/b/abs_8d42id67ov/croot/docutils_1744664123685/work
et_xmlfile @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/et_xmlfile_1729053960370/work
evalidate @ file:///C:/b/abs_573nc1ymt6/croot/evalidate_1743606028415/work
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.20.0
filetype==1.2.0
flake8 @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/flake8_1729054074515/work
Flask==3.1.2
fonttools==4.56.0
fqdn==1.5.1
frozendict @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/frozendict_1729090952168/work
frozenlist==1.8.0
fsspec==2025.10.0
gitdb==4.0.12
GitPython==3.1.45
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
google-genai==1.56.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
grandalf==0.8
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.62.3
h11==0.14.0
h5py==3.12.1
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///C:/b/abs_9bbkzym0jb/croot/holoviews_1741882167503/work
httpcore==1.0.7
httplib2==0.31.0
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
hvplot @ file:///C:/b/abs_3ack78yhuc/croot/hvplot_1746471225135/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna==3.10
imageio @ file:///C:/b/abs_4cup9zfkvm/croot/imageio_1738160462075/work
imagesize @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/imagesize_1729042613392/work
imbalanced-learn @ file:///C:/b/abs_e61qnz168l/croot/imbalanced-learn_1738614381129/work
importlib_metadata @ file:///C:/b/abs_9d0lp1ysmt/croot/importlib_metadata-suite_1732633510972/work
incremental @ file:///croot/incremental_1743512672142/work
inflection @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/inflection_1729054658204/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/intake_1731720911628/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
isoduration==20.11.0
isort @ file:///C:/b/abs_7es817tui1/croot/isort_1741285183905/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///C:/b/abs_f35dqz89dk/croot/itemloaders_1743513855167/work
itsdangerous==2.2.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jaraco.context @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/jaraco.context_1731721000658/work
jaraco.functools @ file:///C:/b/abs_a1jv6v_pzp/croot/jaraco.functools_1740408129620/work
jedi==0.19.2
jellyfish @ file:///C:/b/abs_c5ua9cti7n/croot/jellyfish_1736367467867/work
Jinja2==3.1.6
jinja2-time @ file:///opt/conda/conda-bld/jinja2-time_1649251842261/work
jiter==0.12.0
jmespath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jmespath_1729040936778/work
joblib==1.4.2
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==3.8.0
keyring @ file:///C:/b/abs_596d81ux2c/croot/keyring_1745484709696/work
kiwisolver==1.4.8
langchain==1.1.2
langchain-anthropic==1.2.0
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.2.4
langchain-google-genai==4.1.2
langchain-huggingface==1.2.0
langchain-openai==1.1.0
langchain-text-splitters==1.0.0
langgraph==1.0.4
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.5
langgraph-sdk==0.2.10
langsmith==0.4.49
lazy_loader @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/lazy_loader_1729054947204/work
lckr_jupyterlab_variableinspector @ file:///C:/b/abs_a7k1hndm37/croot/jupyterlab-variableinspector_1744638305846/work
libarchive-c @ file:///croot/python-libarchive-c_1726069797193/work
libmambapy @ file:///C:/b/abs_627vsv8bhu/croot/mamba-split_1734469608328/work/libmambapy
lief @ file:///C:/b/abs_09r5ljk_b3/croot/lief_1746658729608/work/api/python
linkify-it-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/linkify-it-py_1729048789558/work
llvmlite @ file:///C:/b/abs_da51wefv9a/croot/llvmlite_1741209883316/work
lmdb @ file:///C:/b/abs_2decx3xz4y/croot/python-lmdb_1736541366547/work
locket @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/locket_1729042822914/work
lxml==5.3.0
lz4 @ file:///C:/b/abs_8ep7mb2x8a/croot/lz4_1736369996037/work
Markdown @ file:///C:/b/abs_f9hbi7znfr/croot/markdown_1746114643651/work
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mdit-py-plugins_1729048896699/work
mdurl==0.1.2
menuinst @ file:///C:/b/abs_fblttj5gp1/croot/menuinst_1738943438301/work
mistune==3.1.3
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730824198951/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730824302834/work
ml_dtypes==0.5.1
more-itertools @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/more-itertools_1729041136717/work
mpmath==1.3.0
msgpack @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/msgpack-python_1729048979472/work
multidict==6.7.0
multipledispatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/multipledispatch_1729042961798/work
mypy @ file:///C:/b/abs_6epbyye_k3/croot/mypy-split_1736792006114/work
mypy_extensions==1.1.0
namex==0.0.8
narwhals==2.13.0
navigator-updater @ file:///C:/b/abs_75jnsxvk0b/croot/navigator-updater_1744666454242/work
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
nltk @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/nltk_1729060873801/work
notebook==7.3.3
notebook_shim==0.2.4
numba @ file:///C:/b/abs_f42h_j9bwg/croot/numba_1740668206517/work
numexpr @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/numexpr_1731700337214/work
numpy==2.2.1
numpydoc @ file:///C:/Users/dev-admin/buildout/croot/numpydoc_1732930470179/work
oauthlib==3.3.1
openai==2.8.1
openpyxl @ file:///C:/b/abs_6cdczthntz/croot/openpyxl_1736371239628/work
optree==0.14.0
orjson==3.11.4
ormsgpack==1.12.0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
panel @ file:///C:/b/abs_94csf26rqz/croot/panel_1747424488019/work
param @ file:///C:/Users/dev-admin/buildout/croot/param_1739560661012/work
parsel @ file:///C:/Users/dev-admin/buildout/croot/parsel_1732922877478/work
parso==0.8.4
partd @ file:///C:/b/abs_e1k4ow1dv4/croot/partd_1736803443606/work
pathspec @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pathspec_1729036384737/work
patsy @ file:///C:/b/abs_f9h0eiedk0/croot/patsy_1738159949276/work
pbr==6.1.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==11.1.0
pkce @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pkce_1729049216383/work
pkginfo @ file:///C:/b/abs_79p91g_cie/croot/pkginfo_1743184772345/work
platformdirs==4.3.7
plotly @ file:///C:/b/abs_28qon8a90a/croot/plotly_1740385581534/work
pluggy @ file:///C:/b/abs_dfec_m79vo/croot/pluggy_1733170145382/work
ply @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/ply_1729041337918/work
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.4.1
Protego @ file:///C:/b/abs_48sti5uql_/croot/protego_1746479771804/work
proto-plus==1.26.1
protobuf==4.25.8
psutil==7.0.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval==0.2.3
py-cpuinfo @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/py-cpuinfo_1729051209925/work
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pycodestyle_1729051264017/work
pycosat @ file:///C:/b/abs_18nblzzn70/croot/pycosat_1736868434419/work
pycparser==2.22
pyct @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/pyct_1731730439568/work
pycurl @ file:///C:/b/abs_60b5cviggn/croot/pycurl_1744743621149/work
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
PyDispatcher @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pydispatcher_1729062105269/work
pydocstyle @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pydocstyle_1729055775306/work
pyerfa @ file:///C:/b/abs_35x4fn08_4/croot/pyerfa_1738083087918/work
pyflakes @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyflakes_1729051360949/work
PyGithub @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/pygithub_1731745080304/work
Pygments==2.19.1
pyjokes==0.8.3
PyJWT @ file:///C:/Users/dev-admin/buildout/croot/pyjwt_1739559988030/work
pylatexenc==2.10
pylint @ file:///C:/b/abs_52tcgdpqsk/croot/pylint_1743709218105/work
pylint-venv @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pylint-venv_1729062196487/work
pyls-spyder==0.4.0
PyNaCl @ file:///C:/b/abs_b9cyxk0xhf/croot/pynacl_1736542112237/work
pyodbc @ file:///C:/b/abs_908vw1e38j/croot/pyodbc_1737479651089/work
pyOpenSSL @ file:///C:/b/abs_6cmmt1gx_z/croot/pyopenssl_1741343840223/work
pyparsing==3.2.1
pypiwin32==223
PyQt5==5.15.10
PyQt5_sip @ file:///C:/b/abs_d1i1jr9fgt/croot/pyqt-split_1736540551157/work/pyqt_sip
PyQtWebEngine==5.15.6
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1729039320841/work
pytest @ file:///C:/b/abs_9dllqyhfs_/croot/pytest_1738938859288/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==3.3.0
python-lsp-black @ file:///C:/b/abs_56xq_70uqy/croot/python-lsp-black_1744023225294/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///C:/b/abs_dd5ho9pgae/croot/python-lsp-server_1743715808372/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
pytoolconfig @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pytoolconfig_1729051670797/work
pyttsx3==2.98
pytz==2024.2
pyuca @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyuca_1729099690749/work
pyviz_comms @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyviz_comms_1729051705359/work
PyWavelets @ file:///C:/b/abs_a8rls0q_ez/croot/pywavelets_1737133696904/work
pywin32==308
pywin32-ctypes @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pywin32-ctypes_1729046491215/work
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.3.0
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qiskit==1.4.2
qstylizer @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/qstylizer_1729063143005/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl#sha256=9e6ed4af5d7d32c75075c807064c85e792b62db8b603152b16608d504e3ed165
QtAwesome @ file:///C:/b/abs_f3usq20nxv/croot/qtawesome_1744810809443/work
qtconsole @ file:///C:/b/abs_077eiqc5gw/croot/qtconsole_1744633984381/work
QtPy @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/qtpy_1731712232653/work
queuelib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/queuelib_1729063235364/work
readchar @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/readchar_1729051800756/work
referencing==0.36.2
regex==2025.11.3
requests==2.32.5
requests-file @ file:///C:/b/abs_804owi11qo/croot/requests-file_1749719355197/work
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
roman-numerals-py @ file:///C:/b/abs_c6xpj9atdr/croot/roman-numerals-py_1744666293821/work
rope @ file:///C:/b/abs_2232rxaz98/croot/rope_1743709233829/work
rpds-py==0.23.1
rsa==4.9.1
Rtree @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rtree_1729056439058/work
ruamel.yaml @ file:///C:/b/abs_0dn1nhdq75/croot/ruamel.yaml_1745960327187/work
ruamel.yaml.clib @ file:///C:/b/abs_475flulhy_/croot/ruamel.yaml.clib_1745937166245/work
ruamel_yaml_conda @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/ruamel_yaml_1729063591675/work
rustworkx==0.16.0
s3fs @ file:///C:/b/abs_130adxrjmm/croot/s3fs_1747146760526/work
safetensors==0.7.0
scikit-image @ file:///C:/b/abs_081xgoymhl/croot/scikit-image_1737473383970/work
scikit-learn==1.6.1
scipy==1.15.1
Scrapy @ file:///C:/b/abs_7d5vqiajdd/croot/scrapy_1743540914951/work
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
semver @ file:///C:/b/abs_6bgol0at6h/croot/semver_1736542515243/work
Send2Trash==1.8.3
service-identity @ file:///C:/b/abs_2bq9_6ah3e/croot/service_identity_1749714991616/work
setuptools==77.0.3
shellingham @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/shellingham_1729046672855/work
sip @ file:///C:/b/abs_b6twfwtueg/croot/sip_1736544693649/work
six==1.17.0
sklearn-compat @ file:///C:/b/abs_2495oc29im/croot/sklearn-compat_1738003941903/work
smmap==5.0.2
sniffio==1.3.1
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.6
Sphinx @ file:///C:/b/abs_38umzzph7f/croot/sphinx_1744737150958/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///C:/b/abs_9drsv2xoqd/croot/spyder_1749741990659/work
spyder-kernels @ file:///C:/b/abs_0a8wbrmvxw/croot/spyder-kernels_1748642523170/work
SQLAlchemy==2.0.44
stack-data==0.6.3
statsmodels @ file:///C:/b/abs_c797jbabmm/croot/statsmodels_1734018887218/work
stevedore==5.4.1
streamlit==1.52.1
superqt @ file:///C:/b/abs_11kt812ym3/croot/superqt_1743709210824/work
symengine==0.13.0
sympy==1.13.3
tables @ file:///C:/b/abs_e0h8gc4hz7/croot/pytables_1748452085563/work
tabulate @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tabulate_1729056893645/work
tblib @ file:///C:/b/abs_a4ikhoig03/croot/tblib_1749739473644/work
tenacity==9.1.2
terminado==0.18.1
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///C:/Users/dev-admin/buildout/croot/textdistance_1735863571591/work
threadpoolctl==3.5.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///C:/b/abs_8aikas7x_4/croot/tifffile_1741164551582/work
tiktoken==0.12.0
tinycss2==1.4.0
tldextract @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/tldextract_1731748362836/work
tokenizers==0.22.1
toml==0.10.2
tomli @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tomli_1729047129961/work
tomlkit @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/tomlkit_1731700037073/work
toolz @ file:///C:/b/abs_57avamxh36/croot/toolz_1736796279321/work
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.3
truststore @ file:///C:/b/abs_494cm143zh/croot/truststore_1736550137835/work
Twisted @ file:///C:/b/abs_65oatfcpaw/croot/twisted_1743537791862/work
twisted-iocpsupport @ file:///C:/b/abs_6883jqhfrn/croot/twisted-iocpsupport_1736544552637/work
typer @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/typer_1729052194947/work
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
uc-micro-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/uc-micro-py_1729047163092/work
ucimlrepo==0.0.7
ujson @ file:///C:/b/abs_e5a_v6aejl/croot/ujson_1736543954444/work
Unidecode @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/unidecode_1729103602327/work
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.3.0
uuid_utils==0.12.0
w3lib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/w3lib_1729052333042/work
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
whatthepatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/whatthepatch_1729057332458/work
wheel==0.45.1
widgetsnbextension==4.0.13
win_inet_pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1729038644686/work
wrapt @ file:///C:/b/abs_68gzx33lzh/croot/wrapt_1736543196433/work
xarray @ file:///C:/b/abs_11s3bnmez3/croot/xarray_1749192866207/work
xlwings @ file:///C:/b/abs_e58r82ek19/croot/xlwings_1743513451045/work
xxhash==3.6.0
xyzservices @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/xyzservices_1729047258632/work
yapf @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/yapf_1729057456500/work
yarl==1.22.0
zict @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/zict_1729052457267/work
zipp @ file:///C:/b/abs_2fcpcg89my/croot/zipp_1732630746332/work
zope.interface @ file:///C:/Users/dev-admin/buildout/croot/zope.interface_1735850995906/work
zstandard==0.25.0
